*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

li, a{
    font-family:'Montserrat', sans-serif; 
    font-weight: 500;
    text-decoration: none;
}

.logoFlex{
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    color: #2a3342;
    font-size: 21px;
}

.imagenLogo{
    display: flex;
    margin: 2rem;
    gap: 0.5rem;
    width: auto;
}

header{
    display:flex;
    align-items: center;
    padding: 40px 10px;
    max-height: 1rem;
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0px;
    
    
}

nav{
    width: 80%;
}

header button{
    width: auto;
}

.pulponav{
    height: 1.5rem;
   
}

nav ul{
 margin: 1vw;
 display: flex;
 list-style: none;
 gap: 5vw;
 justify-content: center;
 
}

nav ul a {
    color: #90a2b8;
    font-weight: 550;
    font-size: 14px;
}


.buttonIngresar{
    border-style: none;
    background-color: white ;
    color: #90a2b8;
    display: inline-block;
    width: 5em
    
        
}

.buttonIngresar a {
    border-style: none;
    background-color: white ;
    color: #8c8d8fe7;
    
        
}

.buttonRegister{
    border: none;
    background-color: white;
    width:5em;
        
    
}


.buttonRegister a{
    background-color: #2ad167;
    color: white;
    padding: 9px;
    border-radius: 7px;
    font-weight: 550;
    
    
}

.botonesNav{
    width: auto;
}


.principal{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 6rem 3rem 6rem;
    
    
}

h1{
    color: #313842;
    font-size: 45px;
    text-align: left;
    
    
}

.buttonNuevo{
    background-color: #2ad167;
    border-style: none;
    border-radius: 22px;
    font-size: 16px;
    padding: 3px;
    margin-bottom: 2vh;
    color: white;
}

.principal p {
    color: #2a3342;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonSolicitar{
    border-style: none;
    background-color:#2ad167 ;
    color: white;
    padding: 15px;
    border-radius: 6px;
    font-weight: bold;
}

.buttonRegis{
    background-color: white;
    border-style:ridge ;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.123);
    padding: 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.circle{
    position: absolute;
    top:-50px;
    left:-50px;
}

.headDer{
    position: relative;
}

.dots{
    position: absolute;
    bottom: -30px;
    right: -30px;
}

aside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    margin-top: 9vh;
    margin-bottom: 15vh;
    margin-left: 7vh;
    
}

aside div{
    width: 24vw;
}

h2{
    margin: 2vh 2vh;
    font-size: 23px;
    color: #2a3342;
}

h3{
    color: #6f7c8b;
    font-weight: 600;
    font-size: 15px;
}

.mail{
    background-color:#2ad167;
    color: white;
    height: auto;
    width: auto;
    padding: 17px 15px;
    border-radius: 0.5em;
    
}

.analytics{
    background-color:#2ad167;
    color: white;
    height: auto;
    width: auto;
    padding: 17px 15px;
    border-radius: 0.5em;
    
}

.people{
    background-color:#2ad167;
    color: white;
    height: auto;
    width: auto;
    padding: 14px 15px;
    border-radius: 0.5em;
}

.h1Article{
    margin-left: 2vw;
    margin-top: 10vh;
}

.h2Article{
    margin-left: 2vw;
    color:#313842;
    font-weight: 400;
    font-size: 19px
}

.plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 11vh;
    align-content: center;
    
}

.plans ul{
    list-style: none;
    
}

.plans div{
    background-color: #90a2b80e;
    width: 28vw;
    margin: auto;

}

.plansPrecio{
    color: #2ad167;
    margin: 1.5em;
    font-size: 10px;
    font-weight: 700;
}

.plansTipo{
    color: #2ad167;
    margin: 1.5em;
    font-weight: 700;
    font-size: 25px;
}

.plansNumero{
    color: #2a3342;
    font-size: 25px;
    margin: 1em;
    font-weight: 600;
}

.plansFactura{
    margin: 1.5em;
}

section ul li{
    margin-top: 2vh;
    text-align: left;
    padding-left: 7.5vw;
    font-size: 14px;
}

section ul li::before{
    content: '✓';
    margin-right: 1vw;
}

.buttonPlans{
    border-style: none;
    background-color: #2ad167;
    color: white;
    width: 16vw;
    border-radius: 4px;
    margin: 3vh;
    padding: 0.9em;
    font-weight: 550;

}

div ul li{
    list-style-image: url();
}

footer{
    background-color: #2a3342;
    text-align: center;
    min-height: 17em;
    padding-top: 3em;
    margin-top: 5vh;
    font-weight: 500;
    color: #90a2b8;
    

}

footer ul{
    display: flex;
    margin: 2vh;
    justify-content: center;
    list-style: none;
    gap: 3vw;
    color: #90a2b8;
    font-weight: lighter;
    
    
}

footer p{
    padding-top: 3vh;
    font-size: 14px;
}


.logoFlex2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    color: white;
    font-size: 21px;
    display: inline-block;
    margin-bottom: 2vh;
}

.footerLogo{
    display: inline-block;
}

.formPopup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #2a3342;
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    grid-template-columns: 29vw 5vw;
    
  
}

.show{
    opacity: 1;
    pointer-events: auto;
}

form{
    width: 29vw ;
    max-width: 100%;
    text-align: center;
    display: grid;
    padding: 2em;
    
}

.h1Form{
    text-align: center;
    display: inline-block;
    margin-bottom: 1vh;
    color: white;
    font-size: 24px;
    margin-top: 3vh;
}

form p{
    margin-bottom: 3vh;
    color:#a6bbd4;
    font-weight: 500;
}

form label{
    margin-bottom: 0.7vh;
    margin-top: 2vh;
    color: white;
    text-align: left;
    margin-left: 1.7vw;
    font-size: 14px;
    
}

form button{
    border-style: none;
    margin: 34px ;
    background-color: #2ad167;
    border-radius: 4px;
    color: white;
    padding: 1em;
    font-weight: 550;
}

form input{
    width: 22.2vw;
    margin: auto;
    border-radius: 4px;
    border-style: none;
    padding: 1em;

}

.formCheck{
    width: 1vw;
}
 
.close{
    text-decoration: none;
    color: white;
    display: inline-block
     
}
.contX{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 2vw;
    margin-top: 2vh;
    font-size: 2em;
}
.rememberMe{
    color: white;
    font-size: 12px;
    
}
.divRemember{
    margin-top: 1vh;
    text-align: left;
    margin-left: 1.6vw;
    display: inline-block;
}

.forgot{
    color: #2ad167;
    font-size: 12px;
    text-align: right;
    display: inline-block;


}

.divForgot{
    text-align: right;
    display:inline-block;
    margin-left: 10vw;
}

form img{
    max-width: 3vw;
    max-height: 5vh;
    margin: auto;
    background-color:#2ad167 ;
    padding: 10px;
    border-radius: 10px;
}

.aun{
    color: white;
    font-size: 12px;
    
}
.ultRegis{
    color: #2ad167;
    font-size: 12px;
    margin-top: 1vh;
    
}

@media screen and (max-width:844px){
    .fotoPrinc{
        display: none;
    }

    .dots{
        display: none;
    }

    .circle{
        display: none;
    }
    .principal{
        justify-content: center;
        text-align: center;
        margin-left: 4vw;
    }
    h1{
        text-align: center;
    }
    
    aside{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        justify-items: center;
        
        
    }

    aside div{
        width: auto;
        margin-right: 18vw;
    }

    article{
        text-align: center;
    }

    .plans{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "basic"
                            "mid"
                            "full";
        gap: 2vh;
        
    }

    .basic{
        grid-area: basic;
        min-width: 76vw;
        border-style:dashed;
    }

    .mid{
        grid-area: mid;
        min-width: 76vw;
        border-style:dashed;
    }

    .full{
        grid-area: full;
        min-width: 76vw;
        border-style:dashed;
    }

    .buttonPlans{
        width: auto;
    }

    header{
        display: inline-block
    }

    .buttonIngresar{
        display: none;
    }
    .buttonRegister{
        display: none;
    }
    .imagenLogo{
        
        display: block;
        
    }

    nav{
        margin: auto;
    }

    footer{
        padding: 0;

    }
    footer ul{
        display: block;
        margin-top: 0.5vh;
    }
}